<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988227415168-a4pkcgbfrcic4804ush0i0olg6v5srf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988227415168-a4pkcgbfrcic4804ush0i0olg6v5srf9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>988227415168-5k49qi9qgh4u6mp9qu8ur8bqiqs62f48.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDokmHysUIvEMg53O_CR972X_8HPEyHm54</string>
	<key>GCM_SENDER_ID</key>
	<string>988227415168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.weekly</string>
	<key>PROJECT_ID</key>
	<string>week-ly-app</string>
	<key>STORAGE_BUCKET</key>
	<string>week-ly-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988227415168:ios:a0af54a690542c2c280a65</string>
</dict>
</plist>